<div class="ad-container">
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3723218062742398"
    crossorigin="anonymous"
  ></script>
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-3723218062742398"
    data-ad-slot="6125765500"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    ;(adsbygoogle = window.adsbygoogle || []).push({})
  </script>
</div>
